# data/*.json filter=lfs diff=lfs merge=lfs -text

git init && git add . && git commit -m "feat: intial commit" && git remote add manfromexistence https://github.com/manfromexistence/icons && git push -u manfromexistence main